<div class="container">
  <h1>New Restaurant</h1>
  <div class="col-12 col-md-6 col-lg-4 mb-3" >
    <%= render 'form', restaurant: @restaurant %>
    <%= link_to 'Back to menu', restaurants_path %>
  </div>
</div>
